<html>

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
    
</head>
<body class = "image">
<!-- <body [ngStyle]="{backgroundImage:'url(../../../assets/images/pngguru.png)'; background-repeat: no repeat;}"> -->
<!--<div class="container mt-5">-->
<!-- <div class = "image"> -->
  <div class="container mt-5" >



    <!--Section: Content-->
    <section class="">
  
      <!-- Section heading -->
    <!-- <h1 class="text-center font-weight-bold mb-5" style ="font-family:Holtwood One SC, serif; font-size:50px">GRADE 1</h1> -->
    <img style ="height:75px; margin-left: 300px; margin-bottom: 50px; margin-top:30px" src="assets/images/grade2.png">
        <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
          <!-- Card -->
          <div class="card hoverable bg-success">
  
            <!-- Card image -->
            <img class="card-img-top" src="assets/images/28992.jpg" style="height: 210px;" alt="Card image cap">
  
            <!-- Card content -->
            <div class="card-body">
  
              <!-- Title -->
              <h3 class="text-center font-weight-bold mb-5" style ="font-family:Pangolin, cursive; color:rgb(255, 255, 255)">Mathematics</h3>
              <!-- Text -->       
              <!-- <p class="card-title text-muted font-small mt-3 mb-2">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p> -->
                   
              <button class="button"><span>Play Games </span></button>  

            </div>
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
  
          <!-- Card -->
          <div class="card hoverable bg-info">
  
            <!-- Card image -->
            <img class="card-img-top" src="assets/images/5923.jpg" style="height: 210px;" alt="Card image cap">
  
            <!-- Card content -->
            <div class="card-body">
  
              <!-- Title -->
              <h3 class="text-center font-weight-bold mb-5" style ="font-family:Pangolin, cursive; color:rgb(254, 254, 255)">English</h3>
              <!-- Text -->
              <!-- <p class="card-title text-muted font-small mt-3 mb-2">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p> -->
                          
              <button class="button"><span>Play Games </span></button>              
            </div>
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-0">
  
          <!-- Card -->
          <div class="card hoverable bg-warning">
  
            <!-- Card image -->
            <img class="card-img-top" src="assets/images/envi.jpg" alt="Card image cap">
  
            <!-- Card content -->
            <div class="card-body">
  
              <!-- Title -->
              <h3 class="text-center font-weight-bold mb-5" style ="font-family:Pangolin, cursive; color:rgb(255, 255, 255)">Environmental Studies</h3>
              <!-- Text -->
              <!-- <p class="card-title text-muted font-small mt-3 mb-2">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p> -->
                          
              <button class="button"><span>Play Games </span></button>                
            </div>
  
          </div>
          <!-- Card -->
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
      
  
    </section>
    <!--Section: Content-->
  
  
  <!-- </div> -->
</div>
  </body>
  </html>
