<!-- <ul>
 
    <li><a href="app.component.html">Home</a></li>
    <li><a routerLink='grade1'>Grade 1</a></li>
    <li><a routerLink='grade2'>Grade 2</a></li>
    <li style="margin-inline-start:989px;"><a routerLink='login'>Login</a></li>
    <li><a routerLink='signin'>Sign in</a></li>
   
    

</ul> -->


<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <link rel="stylesheet" href="styles.css"> -->
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

   <!-- <script src="script.js"></script> -->
</head>
<body>

<div id='cssmenu'>
<ul>
 
  <li><a href="app.component.html" style ="color:dodgerblue">Home</a></li>
  <li><a routerLink='grade1' style ="color:rgb(128, 37, 139)">Grade 1</a></li>
  <li><a routerLink='grade2' style ="color:rgb(240, 157, 2)">Grade 2</a></li>
  <li style="margin-inline-start:650px"><a style="color:green" routerLink='login'>Login</a></li>
  <li><a routerLink='signin' style="color:tomato">Sign in</a></li>
 
</ul>
</div>

</body>
<html>